:root {
    --main-bg-color: black;
    --main-text-color: yellow;
}

body {
    background-color: var(--main-bg-color);
}

.nav-wrapper {
    background-color: var(--main-bg-color);
}

.head-title {
    margin-left: 20px;
    font-size: 25px;
    color: var(--main-text-color);
}

.nav-item {
    font-size: 20px;
    color: var(--main-text-color);
}

.intro {
    color: var(--main-text-color);
    margin-top: 2em;
    font-size: 21px;
    text-align: center;
}

